{% extends 'base.html' %}

{% block content %}
<h1>{{ advertisement.title }}</h1>
<p>{{ advertisement.content }}</p>

{% if advertisement.image %}
    <img src="{{ advertisement.image.url }}" alt="{{ advertisement.title }}" style="max-width: 100%;">
{% endif %}
<p>(Автор: {{ advertisement.author.username }})</p>

<!-- Кнопки для лайков и дизлайков -->
<div>
    <span>(+) {{ advertisement.likes }}</span>
    <a href="{% url 'board:like_advertisement' pk=advertisement.pk %}">Like</a>
    <span>(-) {{ advertisement.dislikes }}</span>
    <a href="{% url 'board:dislike_advertisement' pk=advertisement.pk %}">Dislike</a>
</div>

{% endblock %}
