{% extends 'base.html' %}

{% block content %}
<h1>Advertisements</h1>

{% if user.is_authenticated %}
    <h2>Your Advertisements:</h2>
    <p>{{ user.username }} создал: {{ user.userprofile.created_ads_count }} / удалил: {{ user.userprofile.deleted_ads_count }}</p>
    <p>Поставил: (+) {{ user.userprofile.likes_count }} / (-) {{ user.userprofile.dislikes_count }}</p>
    <ul>
        {% for advertisement in advertisements %}
            {% if advertisement.author == user %}
                <li>
                    <a href="{% url 'board:advertisement_detail' pk=advertisement.pk %}">{{ advertisement.title }}</a>
                    <a href="{% url 'board:edit_advertisement' pk=advertisement.pk %}">Edit</a>
                    <a href="{% url 'board:delete_advertisement' pk=advertisement.pk %}">Delete</a>
                    {% if advertisement.image %}
                        <img src="{{ advertisement.image.url }}" alt="{{ advertisement.title }}" style="max-width: 100px; display: block; margin-top: 5px;">
                    {% endif %}
                    <span>(+) {{ advertisement.likes }}</span>  <!-- Количество лайков -->
                    <span>(-) {{ advertisement.dislikes }}</span>  <!-- Количество дизлайков -->
                    <p>(Автор: {{ advertisement.author.username }})</p>  <!-- Добавлено отображение автора -->
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}

<h2>Other Advertisements:</h2>
<ul>
    {% for advertisement in advertisements %}
        {% if advertisement.author != user %}
        <li>
            <a href="{% url 'board:advertisement_detail' pk=advertisement.pk %}">{{ advertisement.title }}</a>
            <span>(+) {{ advertisement.likes }}</span>
            <span>(-) {{ advertisement.dislikes }}</span>
        </li>
        {% endif %}
    {% endfor %}
</ul>

{% endblock %}
